body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  background-color: #000;
  color: #fff;
  overflow: hidden;
}

.main {
  display: flex;
  height: 100vh;
  flex-direction: row;
  padding: 8px;
}

/* This section contain sidebar css  */

.sidebar {
  background-color: black;
  width: 400px;
  border-radius: 1rem;
  margin-right: 8px;
}

.nav {
  background-color: #121212;
  border-radius: 1rem;
  height: 130px;
  margin-bottom: 10px;
  padding: 10px 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nav-option {
  font-weight: 650;
  cursor: pointer;
  line-height: 40px;
  padding: 0.7rem 0.9rem;
  opacity: 0.7;
}

.nav-option:hover {
  opacity: 1;
}

.nav-option a {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
  margin: 1.5rem;
}

.nav-option i {
  font-size: 1.5rem;
}

.library {
  background-color: #121212;
  border-radius: 1rem;
  height: 100%;
  margin-top: 8px;
}

.lib-option {
  height: 40px;
  padding: 1rem 1.3rem;
  opacity: 0.7;
  cursor: pointer;
  display: flex;
  justify-content: space-evenly;
  justify-self: center;
}

.lib-option:hover {
  opacity: 1;
}

.lib-option img {
  font-size: 1rem;
  height: 1.5rem;
  width: 1.5rem;
  padding: 0.25rem 0.25rem;
}

.lib-icon {
  padding-left: 5rem;
  font-size: 1.3rem;
}

.lib-option a {
  text-decoration: none;
  color: #fff;
  padding: 0.5rem;
  font-weight: 700;
  font-size: 1rem;
}

.lib-option i {
  padding: 0.5rem 0.8rem;
}

.lib-box {
  border-radius: 1rem;
  background-color: #242424;
  padding: 1rem 1.25rem;
  margin: 0.3rem 0.5rem 1.5rem 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 140px;
}

.lib-box-heading {
  font-size: 1.2rem;
  font-weight: 700;
}

.lib-box-para {
  font-size: 0.9rem;
}

.lib-btn {
  border: transparent;
  border-radius: 1.5rem;
  font-weight: 600;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  width: 48%;
  cursor: pointer;
}

.lib-btn:hover {
  font-size: 1rem;
  width: 49%;
}

/* This section contain .main-content css  */

.main-content {
  background-color: #121212;

  flex: 1;

  border-radius: 1rem;
  overflow: auto;
  margin-bottom: 70px;
}

.main-nav {
  height: 70px;
  position: sticky;
  top: 0;
  background-color: #121212;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem 1.1rem;
}

.main-nav-btn-icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-items: center;
}

.main-nav-btn-icon .btn1 {
  border: transparent;
  border-radius: 1.7rem;
  padding: 0.2rem 0.9rem;
  font-size: 0.9rem;
  font-weight: 700;
  margin-right: 1rem;
  cursor: pointer;
  height: 2.7rem;
  width: 9.5rem;
  opacity: 1;
}

.main-nav-btn-icon .btn1:hover {
  font-size: 0.95rem;
  width: 9.7rem;
}

.main-nav-btn-icon .btn2 {
  color: #fff;
  background-color: #000;
  border: transparent;
  border-radius: 1.7rem;
  padding: 0.2rem 0.7rem;
  font-size: 0.9rem;
  font-weight: 600;
  cursor: pointer;
  height: 2.5rem;
  width: 7.5rem;
  margin-right: 0.2rem;
  opacity: 1;
}

.main-nav-btn-icon .btn2:hover {
  font-size: 0.95rem;
  width: 7.6rem;
}

.main-nav-btn-icon .icon {
  color: #fff;
  background-color: #000;
  border: transparent;
  border-radius: 50%;

  height: 2.5rem;
  width: 2.5rem;
  margin: 0.3rem;
  cursor: pointer;
  opacity: 0.7;
}

.main-nav-btn-icon .icon:hover {
  opacity: 1;
}

.main-nav-btn-icon .icon i {
  font-size: 1.3rem;
  padding: 0.5rem 0.65rem;
}

.main-nav-arrow button {
  border: transparent;
  border-radius: 50%;
  background-color: #000;
  color: #fff;
  height: 2.5rem;
  width: 2.5rem;
  margin-left: 0.5rem;
}

.main-nav-arrow button i {
  font-size: 1.8rem;
}

.heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 1rem;
  padding-right: 1.5rem;
}

.main-content-span {
  padding: 1.3rem 0.5rem;
  font-weight: 500;
}

.song-list {
  display: flex;
  flex-direction: row;
}

.card {
  width: 25%;

  border-radius: 1rem;
  padding: 0.9rem;
  background-color: #181818;
  margin: 1rem;
  cursor: pointer;
}

.card:hover {
  background-color: #242424;
}

.card img {
  width: 100%;
  border-radius: 1rem;
  opacity: 1;
}

.card p {
  font-size: 0.9rem;
  opacity: 0.7;
}

/* this section contain music-player css  */

.music-player {
  background-color: black;
  width: auto;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 72px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.music-player-left {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 0.3rem;
  padding-top: 0.3rem;
}

.music-player-left .player-name {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.player-name {
  padding: 0.7rem;
}

.player-name p {
  font-size: 0.6rem;
  margin-top: 0.8rem;
  opacity: 0.7;
}

.player-name p:hover {
  opacity: 1;
}

.player-name h5 {
  margin-top: 1rem;
  margin-bottom: 0px;
  opacity: 0.7;
}

.player-name h5:hover {
  opacity: 1;
}

.player-img img {
  border-radius: 0.6rem;
  margin-top: 0.3rem;
  margin-bottom: 1rem;
}

.album-icon {
  padding: 20px;
}

.player-control-btn {
  margin-left: 200px;
}

.player-control-btn .control-btn {
  width: 16px;
  height: 16px;
  opacity: 0.7;
  padding: 0.7rem;
  margin-bottom: 7px;
}

.player-control-btn .control-btn:hover {
  opacity: 1;
}

.player-control-btn .musicbar {
  width: 30px;
  height: 30px;
  opacity: 0.7;
  padding: 0.7rem;
}

.player-control-btn .musicbar:hover {
  opacity: 1;
}

.player-controlbar {
  opacity: 0.7;
  margin-top: -16px;
}

.player-controlbar span {
  opacity: 0.9;
  font-size: 11px;
}

/* for music slider  */

.slider {
  /* -webkit-appearance: none; */
  width: 550px;
  height: 3px;
  border-radius: 3px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #04aa6d;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #04aa6d;
  cursor: pointer;
}

.music-player-right {
  display: flex;
  flex-direction: row;

  margin-top: 25px;
  margin-right: 60px;
}

.control-icon img {
  height: 23px;
  width: 23px;
  margin: 2px;
  opacity: 0.6;
  cursor: pointer;
}

.control-icon .icon {
  height: 33px;
  width: 33px;
  margin: -4px;
  cursor: pointer;
}

.minimize img {
  height: 33px;
  width: 33px;
  cursor: pointer;
}

.slider1 {
  /* -webkit-appearance: none; */
  width: 80px;
  height: 3px;
  border-radius: 4px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider1::-webkit-slider-thumb {
  /* -webkit-appearance: none; */
  appearance: none;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #04aa6d;
  cursor: pointer;
}

.slider1::-moz-range-thumb {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #04aa6d;
  cursor: pointer;
}

/* this section contain scroller css */

/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0px grey;
  border-radius: 7px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 5px;
}